@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @font-face {
    font-family: "RixInooAriDuriR";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  .grid-area-header {
    grid-area: header;
  }

  .grid-area-main {
    grid-area: main;
  }

  .grid-area-aside {
    grid-area: aside;
  }

  .grid-area-footer {
    grid-area: footer;
  }

  .text-shadow {
    text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000,
      5px 5px #000, 6px 6px #000;
  }
}
